.task {
    position: relative;
    border-bottom: 0.5px solid black;
    height: 120px;
    margin-top: 28px;
    padding-left: 8px;
    display: flex;
    justify-content: space-between;
}

.task-content-container {
    flex-grow: 1;
}

.task-content-container:hover {
    cursor: pointer;
}

.task-name {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.task-checkbox {
    margin-right: 12px;
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    border: 2px solid #875233;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.task-button-container {
    /* position: absolute;
    right: 8px;
    top: 8px;
    color: #5A5858; */
    display: none;
}

.task:hover .task-button-container {
    /* display: flex;
    gap: 12px; */
    display: inline;
}

.task-button-container:hover {
    cursor: pointer;
}

.info {
    position: absolute;
    right: 8px;
    bottom: 0;
    color: #5A5858;
}