.task {
    position: relative;
    border-bottom: 0.5px solid black;
    height: 120px;
    margin-top: 28px;
    padding-left: 8px;
    display: flex;
    justify-content: space-between;
}

.task-content-container {
    flex-grow: 1;
}

.task-name {
    display: flex;
    align-items: center;
    font-size: 22px;
}

.task-checkbox {
    margin-right: 12px;
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    outline: none;
    border: 2px solid #875233;
    appearance: none;
    cursor: pointer;
}

.task-checkbox:checked {
    appearance: auto;
    clip-path: circle(45%);
    accent-color: #875233;
  }

.task-button-container {
    display: none;
}

.task:hover .task-button-container {
    display: inline;
}

.task-button-container:hover {
    cursor: pointer;
}

.info {
    position: absolute;
    right: 8px;
    bottom: 0;
    color: #5A5858;
}