.logo-img {
    width: 160px;
    height: 40px;
    align-self: center;
    margin-top: 28px;

}

.dashboard-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: rgba(176, 147, 117, 0.4);
}

.sidebar-buttons {
    margin-top: 48px;
    margin-left: 24px;
    margin-right: 24px;
}

.sidebar-button {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 12px;
    padding: 8px;
}

.sidebar-button:hover {
    border: 0.5px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar-button-selected {
    border: 0.5px solid black;
    border-radius: 4px;
}

.projects {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.projects:hover {
    background-color: rgba(176, 147, 117, 0.2);
    border-radius: 4px;
}

.plus {
    display: none;
}

.plus:hover {
    cursor: pointer;
}

.projects:hover .plus{
    display: inline;
}

.sidebar-project-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 12px;
    padding: 8px;
}

.sidebar-project-button:hover {
    border: 0.5px solid black;
    border-radius: 4px;
}

.sidebar-project-name {
    width: 80%;
    display: flex;
    gap: 12px;
}

.sidebar-project-name:hover {
    cursor: pointer;
}

.sidebar-project-options {
    display: none;
}

.sidebar-project-button:hover .sidebar-project-options {
    display: flex;
    gap: 12px;
}

.sidebar-project-options:hover {
    cursor: pointer;
}

.main-container {
    width: 75%;
}

.user-container {
    position: absolute;
    right: 0px;
    margin-right: 40px;
    margin-top: 28px;
    display: flex;
    align-items: center;
}