.upcoming-container {
    display: flex;
    justify-content: center;
}

.upcoming-inner-container {
    width: 84%;
    min-height: 400px;
    margin-top: 80px;
}

.upcoming-date-picker-container {
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin-top: 16px;
    position: relative;
}

.upcoming-date-picker {
    background-color: #FCFAF8;
    border: 0;
    position: absolute;
    right: 0;
    opacity: 0;
}

.upcoming-date-picker::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
}

.upcoming-tasks {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.upcoming-task-container {
    width: 30%;
}